<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BIC Architecture Management">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <title>Nubo</title>
</head>

<body>
    <div id="app">
        <section class="hero is-primary is-fullheight">
            <div class="hero-body">
              <div class="container has-text-centered">
                <h1 v-if="answer" class="title is-1">
                  {{answer}}
                </h1>
                <!-- <h2 class="subtitle">
                </h2> -->
                <img v-if="image" :src="image" class="img-window">
              </div>
            </div>
          </section>
    </div>
    <!-- <script src="/dist/assets/js/app.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        var socket = io()
        let app = new Vue({
            el: '#app',
            data: {
                answer: 'say something...',
                image:''
            },
            computed: {
            },
            watch: {
            },
            created(){
                socket.on('listen',(data) => {
                    this.image = false
                    this.answer = data
                })
                socket.on('pic',(data) => {
                    this.answer = false
                    this.image = data
                })
            }
        })
    </script>
    <style>
    </style>
</body>

</html>